<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>

  <body>
    <h1>Thank you for your booking!</h1>

    <p>
    Your flight information is as follows:
      <ul>
        <li>Flight Number: <%= @booking.flight_id %></li>
        <li>Departure Time: <%= @booking.flight.departure_date %></li>
        <li>Departure Airport: <%= @booking.flight.departure_airport.code %></li>
        <li>Arrival Airport: <%= @booking.flight.arrival_airport.code %></li>
      </ul>
    </p>
    <p>
    The passengers on your flight are:
      <ul>
        <% @booking.passengers.each do |passenger| %>
          <li><%= passenger.firstname %> <%= passenger.lastname %></li>
        <% end %>
      </ul>
    </p>
  </body>
</html>