  <h3> Passenger Information</h3>
    <div>
      <%= f.label :firstname, "First Name" %>
      <%= f.text_field :firstname, :placeholder => "ex. John" %>
    </div>

    <div>
      <%= f.label :lastname, "Last Name" %>
      <%= f.text_field :lastname, :placeholder => "ex. Smith" %>
    </div>

    <div>
      <%= f.label :email, "Email Address" %>
      <%= f.email_field :email, :placeholder => "ex. John@example.com" %>
    </div>
<br>