<h2> New Booking </h2>

<h3>Flight information </h3>

<%= render 'flight_info' %>

<%= form_for @booking, data: { controller: "passenger" } do |f| %>
  <%= f.hidden_field :flight_id, :value => "#{params[:flight_id]}"%>

  <%= f.fields_for :passengers do |p| %>
    <%= render 'passenger_fields', :f => p %>
  <% end %>

  <%= f.submit %>

  <template id="passengerinfo">
    <%= f.fields_for :passengers do |p| %>
      <%= render 'passenger_fields', :f => p %>
    <% end %>
  </template>
<% end %>